<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServletLoginByUserPass</servlet-name>
        <servlet-class>es.redmoon.comunidades.altas.ServletLoginByUserPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSesion</servlet-name>
        <servlet-class>es.redmoon.comunidades.sesion.ServletSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGetToken</servlet-name>
        <servlet-class>es.redmoon.comunidades.datosapp.ServletGetToken</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxTickets</servlet-name>
        <servlet-class>es.redmoon.comunidades.tickets.AjaxTickets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxRegador</servlet-name>
        <servlet-class>es.redmoon.comunidades.regador.AjaxRegador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletpdfListadoRiegos</servlet-name>
        <servlet-class>es.redmoon.comunidades.regador.ServletpdfListadoRiegos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListadoTickets</servlet-name>
        <servlet-class>es.redmoon.comunidades.tickets.ServletListadoTickets</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLoginByUserPass</servlet-name>
        <url-pattern>/ServletLoginByUserPass.servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSesion</servlet-name>
        <url-pattern>/ServletSesion.servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGetToken</servlet-name>
        <url-pattern>/ServletGetToken.servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxTickets</servlet-name>
        <url-pattern>/AjaxTickets.servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxRegador</servlet-name>
        <url-pattern>/AjaxRegador.servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletpdfListadoRiegos</servlet-name>
        <url-pattern>/ServletpdfListadoRiegos.servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListadoTickets</servlet-name>
        <url-pattern>/ServletListadoTickets.servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
